<?xml version="1.0" encoding="utf-8" ?>
<phpunit processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Twig Image Placeholder Extension Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="build/">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="build/coverage.xml"/>
        </report>
    </coverage>
</phpunit>
